import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

export default defineConfig({
  plugins: [react()],
  base: '/JulienSerbanescu/',
  build: {
    outDir: 'dist',
    assetsDir: 'assets',
    emptyOutDir: true
  },
  server: {
    host: '0.0.0.0',
    allowedHosts: ['.ngrok-free.app', 'localhost', '127.0.0.1']
  }
})
